* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #0d1117;
    color: white;
    font-family: monospace;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
}
.points {
    background-color: #161b22;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 480px;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.points > * {
    background-color: #161b22;
}
.canvas {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
}
